<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangshun.keep_in_good_health"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 首页 -->
        <activity
            android:name="com.zhangshun.activity.HomePageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ruanjiawei.activity.Food_name_Activity" >
        </activity>
        <!-- 常见疾病详情列表页面 -->
        <activity android:name="com.zhangshun.activity.CommonDiseasesListForDetailsAcitivty" >
        </activity>
        <!-- 形成的原因页面 -->
        <activity android:name="com.zhangshun.activity.ReasonsForTheFormationActivity" >
        </activity>
        <!-- 建议的细节页面 -->
        <activity android:name="com.zhangshun.activity.SuggestionsForDetailsActivity" >
        </activity>
        <!-- 设置页面 -->
        <activity android:name="com.zhangshun.activity.SetUpTheActivity"></activity>


        <!--推荐-->
        <activity android:name="com.jiangkaiquan.activity.Recomend"></activity>
        <!--产品详情-->
        <activity android:name="com.jiangkaiquan.activity.Produce_detail"></activity>
        <!--功能-->
        <activity android:name="com.jiangkaiquan.activity.Founction"></activity>
        
        
        <!-- 今天吃什么页面 -->
        <activity android:name="com.zhangwenbin.activity.TodayEat"></activity>
        <!-- 选择医师页面 -->
        <activity android:name="com.zhangwenbin.activity.Inquiry_doctor"></activity>
        <!-- 个人中心未登录页面 -->
        <activity android:name="com.zhangwenbin.activity.PersonalCenterNotLogin"></activity>
        <!-- 个人中心登录名页面 -->
        <activity android:name="com.zhangwenbin.activity.PersonalCenterLoginName"></activity>


    </application>

</manifest>