<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangshun.keep_in_good_health"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zhangshun.activity.HomePageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--推荐-->
        <activity android:name="com.jiangkaiquan.activity.Recomend"></activity>
        <!--产品详情-->
        <activity android:name="com.jiangkaiquan.activity.Produce_detail"></activity>
        <!--功能-->
        <activity android:name="com.jiangkaiquan.activity.Founction"></activity>

    </application>

</manifest>